#main-content-container{
  background-image: url(https://i.pinimg.com/originals/3e/d7/75/3ed7758e641f0aff4b96c44330251ed8.jpg);
  min-height: 100vh;
  
}
.mainNav{
  background-color:rgba(63, 63, 63, .8);
}

.pendingStyle{
  background-color: rgba(6, 2, 223, 0.3) !important;
  
}
.approveStyle{
  background-color: rgba(4, 65, 34, 0.8) !important;
}
.rejectStyle{
  background-color:rgba(97, 3, 3, 0.8) !important;
}


.flexBoxNav{
  display: flex !important;
  justify-content: space-around!important;
  background-color: 3f3f3f  !important;
}

.btnStyle{
  font-size: 30px !important;
  background-color: #6B4A9E  !important;
  color: #f3f3f3;
  font-weight: bold;
}

.signInBox{
  background-color: rgba(0, 0, 0, 0.7) !important;
  width: 250px;
  height: 300px;
  position: relative;
  top: 50px;
  margin: auto;
  border-radius: 10px;
}

.headerSignIn{
  color:white !important;
  font-size: 30px !important;
}

.btn-sign-in{
  color:white !important;
  font-size: 15px !important;

}

.welcomeDiv{
  font-size: 40px !important;
  color: #f3f3f3;
  background-color: transparent  !important;
  font-weight: bold;
}

.tableStyle{
  display: block;
  height: 75vh !important; 
  overflow-y: scroll;
  max-width:100%;
  font-size: 15px !important;
  color:#f3f3f3;
  background-color:rgba(63, 63, 63, .8) !important;
  margin: auto !important;
  overflow: auto;
 
}
.tableHome{
  height: 75vh !important; 
  overflow-y: scroll;
  max-width:100%;
  font-size: 15px !important;
  color:#f3f3f3;
  background-color:rgba(63, 63, 63, .8) !important;
  margin: auto !important;
  overflow: auto;
}

.tableHeader{
  background-color:  rgba(63, 63, 63, .8);
  color: #f3f3f3;
  max-width: 80vw;
  margin:auto;
  font-size: 30px !important;
  text-align: center;
  overflow: auto;
}

.flexSpaceAround{
  display: flex !important;
  justify-content: space-around!important;
}





.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.scrollbar {
  background-color:rgba(63, 63, 63, .8);
  float: right;
  height: 300px;
  overflow-y: scroll;
  margin: auto;

}


::-webkit-scrollbar {
  width: 6px;
  background-color:rgba(63, 63, 63, .8);
} 

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}