#main-content-container{
  background-image: url(https://i.pinimg.com/originals/3e/d7/75/3ed7758e641f0aff4b96c44330251ed8.jpg);
  min-height: 100vh;
  background-attachment: fixed;
  
}
.mainNav{
  background-color:rgba(1, 1, 1, .75) !important;
  position: -webkit-sticky; /* Safari */
    position: sticky !important;
    top: 0 !important;
}

.pendingStyle{
  background-color: rgba(6, 2, 223, 0.3) !important;
  
}
.approveStyle{
  background-color: rgba(4, 65, 34, 0.8) !important;
}
.rejectStyle{
  background-color:rgba(97, 3, 3, 0.8) !important;
}


.flexBoxNav{
  display: flex !important;
  justify-content: space-around!important;
}

.btnStyle{
  background-color: transparent !important;
  border:1px solid white !important;
  color: white !important;
}

.signInBox{
  background-color: rgba(0, 0, 0, 0.9) !important;
  width: 250px;
  height: 200px;
  position: relative;
  top: 250px;
  margin: auto;
  border-radius: 10px;
  border: 1px solid white;
}

.createReimbursementBox{
  background-color: rgba(0, 0, 0, 0.9) !important;
  width: 400px;
  position: relative;
  top: 250px;
  margin: auto;
  border-radius: 10px;
  border: 1px solid white;
}
.headerSignIn{
  color:white !important;
  font-size: 30px !important;
}

.btn-sign-in{
  color:white !important;
  font-size: 15px !important;

}

.welcomeDiv{
  font-size: 40px !important;
  color: #f3f3f3;
  background-color: transparent  !important;
  font-weight: bold;
}
.flexName{
  displa-y:flex
}
.tableStyle{
  height: 80vh !important; 
  font-size: 20px !important;
  text-align: center;
  color:#f3f3f3;
  border: 1px white solid;
  background-color:rgba(0, 0, 0, 0.9) !important;
  margin: auto !important;
  overflow: auto;
  height: 500px;
}

.formClass{
  width: 80% !important;
  margin: auto;
}

.table-trial{
  max-width: 90vw !important;
  margin: auto;
}
.buttonMargin{
  margin: 20px;
}

.white{
  color: white;
}

.imageSpacing{
  position: relative;
  left: 20px;
}

.buttonMarginRight{
  margin-right: 20px !important;
}

.tableHeader{
  background-color: rgba(0, 0, 0, 0.8);
  border: white solid 1px;
  color: #f3f3f3;
  max-width: 90vw;
  margin:auto;
  font-size: 30px !important;
  text-align: center;
  overflow: auto;
}

.flexSpaceAround{
  margin-top: 20px;
  display: flex !important;
  justify-content: space-around!important;
}

.formHeader{
  margin: 10px;
  color: #f3f3f3 !important;
  font-size: 25px;
  font-weight: bold;
}

.labelClass{
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  color: #f3f3f3 !important;
  margin:auto;
  font-size: 20px !important;
  display: left;
  overflow: auto;
}


::-webkit-scrollbar {
  width: 6px;
  background-color:rgba(0, 0, 0, 0.8);
} 

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}